<!DOCTYPE html>
<html>
<head>
	<title>Upload a PDF</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Upload a PDF</h1>
		<label for="file">Choose a PDF file to upload:</label>
		<input type="file" id="file" name="file">
		<div id="content"></div>
		<button id="extract-btn" style="display:none">Extract Content</button>
		<button id="extract-btn-2" style="display:none">ChatGPT</button>
	</div>
	<script type="text/javascript">
		const fileInput = document.getElementById("file");
		const extractBtn = document.getElementById("extract-btn");
		const contentDiv = document.getElementById("content");
		const extractBtn2 = document.getElementById("extract-btn-2");
		
		fileInput.addEventListener("change", function() {
			extractBtn.style.display = "block";
			extractBtn2.style.display = "block";
		});
		
		extractBtn.addEventListener("click", function() {
			const xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					contentDiv.innerHTML = xhr.responseText;
				}
			}
			xhr.open("POST", "{{ url_for('extract_content') }}", true);
			const formData = new FormData();
			formData.append("file", fileInput.files[0]);
			xhr.send(formData);
		});

		extractBtn2.addEventListener("click", function() {
			const xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					contentDiv.innerHTML = xhr.responseText;
				}
			}
			xhr.open("POST", "{{ url_for('ask_question') }}", true);
			const formData = new FormData();
			formData.append("_id", "647f780ebc10d54e30ebf369");
			formData.append("question", "give me the key points for this");
			xhr.send(formData);
		});
	</script>
</body>
</html>
